.scrollable {
    padding: 1rem;
    max-height: 350px;
    overflow-y: auto;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: cadetblue;
    border-radius: 100px;
  }
  .heading {
    text-align: center;
  }
  
  .button1 {
    background-color: #4caf50;
  }
  
  .button2 {
    background-color: #f44336;
  }
  
  .center {
    text-align: center;
  }
  