.heading {
    text-align: center;
  }
  
  .p {
    display: inline;
  }
  
  .scrollable {
    padding: 1rem;
    max-height: 350px;
    overflow-y: auto;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: cadetblue;
    border-radius: 100px;
  }

  .button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: "a";
    display: inline-block;
    font-size: 10px;
    border-radius: 12px;
    
  }

